body {
  background-color: lightcyan;
  padding: 1.5rem;
}

h1 {
  text-align: center;
  color: darkgreen;
  min-width: 100%;
}

h2 {
  color: darkgreen;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 3rem;
}

input {
  background-color: aliceblue;
  min-width: 75%;
}

button {
  background-color: rgb(8, 231, 8);
  border-radius: 0.25rem;
  font-weight: 500;
}

button:hover {
  background-color: whitesmoke;
}

li {
  list-style-type: none;
}

ul button {
  background-color: lightpink;
  font-size: 10pt;
  margin-top: 0.75rem;
}

li button {
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: 0.75rem;
}

li button:hover {
  color: red;
  background-color: lightpink;
}

.text-success {
  font-style: italic;
  font-weight: bold;
}

footer {
  background-color: aliceblue;
  font-size: 10pt;
  margin-top: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

strong {
  color: rgb(4, 74, 74);
}
